.main-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    height: 80vh;
        
}

.main-content>*{
    background-color: bisque;
    width: 80%;
}

.main-content>form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input, textarea{
    width: 80%;
}



  